* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.snap {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  width: 100px;
  height: 50px;
  background-position: top 20px left 15px;
}
.features,
.company,
.careers,
.about {
  display: none;
}
.striped-menu {
  background-image: url(../images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.striped-menu:hover {
  cursor: pointer;
}

.container-nav {
  background-color: white;
  padding-bottom: 15px;
  position: absolute;
  right: 0px;
  width: 200px;
  height: 109vh;
  cursor: pointer;
}

.inactive {
  display: none;
}

.button-closed {
  background-image: url(../images/icon-close-menu.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 50px;
  margin-right: 13px;
}

.container-nav li {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "Epilogue", sans-serif;
  font-size: 1.4rem;
  color: #686868;
}

.subtitle,
.subtitle2 {
  margin-left: 10px;
  font-size: 1.2rem;
}
.ancla,
.button {
  display: none;
}
.container-nav li .icon-arrow-up {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 3px;
  background-image: url("../images/icon-arrow-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.container-nav .list-menu,
.list-menu-two {
  font-size: 1.3rem;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Epilogue", sans-serif;
  color: #686868;
  font-size: 1.2rem;
  line-height: 2;
}

.list-menu-two p {
  margin-left: 20px;
  line-height: 2;
}

p .icon-todoList,
.icon-calender,
.icon-remiders,
.icon-plannig {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 5px;
  background-image: url("../images/icon-todo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p .icon-calender {
  background-image: url("../images/icon-calendar.svg");
}

p .icon-remiders {
  background-image: url("../images/icon-reminders.svg");
}

p .icon-plannig {
  background-image: url("../images/icon-planning.svg");
}

.container-nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}

.buttons-btn1,
.buttons-btn2 {
  background-color: white;
  border: none;
  width: 70%;
  height: 35px;
  font-family: "Epilogue", sans-serif;
  font-size: 1.2rem;
  color: #686868;
  border-radius: 12px;
}

.buttons-btn1:hover,
.buttons-btn2:hover {
  border: 1.8px solid #686868;
}

.container-img {
  background-size: cover;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 320px;
}
.container-secundary {
  display: contents;
}

.img {
  background-image: url(../images/image-hero-mobile.png);
  width: 100%;
  height: 346px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 60px;
  min-height: 230px;
}

.title {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 3.29rem;
}

.paragrapht {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  color: #686868;
  padding: 0 39px;
  text-align: center;
  line-height: 25px;
}

.learn-more {
  border: none;
  background-color: black;
  color: #f9f9f9;
  font-family: "Epilogue", sans-serif;
  height: 40px;
  width: 110px;
  border-radius: 12px;
}

.learn-more:hover {
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid black;
}

.container-footer {
  display: flex;
  gap: 50px;
  height: 30px;
  margin: 40px 0;
  min-width: 320px;
}

.databiz {
  background-image: url(../images/client-databiz.svg);
  background-repeat: no-repeat;
  width: 80px;
  background-size: 100%;
}

.audiophile {
  background-image: url(../images/client-audiophile.svg);
  background-repeat: no-repeat;
  width: 57px;
  background-size: 100%;
}

.meet {
  background-image: url(../images/client-meet.svg);
  background-repeat: no-repeat;
  width: 70px;
  background-size: 100%;
}
.maker {
  background-image: url(../images/client-maker.svg);
  background-repeat: no-repeat;
  width: 80px;
  background-size: 100%;
}
